.navbar{
    overflow: hidden;
    background-color: brown;
    display: flex;
    height: 40px;
    width: 100%;
    align-items:center ;
    position: sticky;
    top: 5px;

}

.navbar a{
    float: left;
    color: blueviolet;
    text-align: center;
    padding: 14px 16;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    margin-left: 20px;
}

*{
    margin: 0;
    padding: 0;
}

.navbar a:hover{
    color: green;
    background-color: brown;
}
img1{
    align-content: center;
}